<!DOCTYPE html>
<html lang="en">
<meta content="width=device-width, initial-scale=1" name="viewport">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Dashboard</title>
</head>
<body>

<div class="icon-bar">
    <a class="active" href="http://localhost:8080/dashboard"><i class="fa fa-home"></i></a>
    <a href="http://localhost:8080/settings"><i class="fa fa-gear"></i></a>
</div>
{{.}}

</body>
</html>
