<!-- Copyright (c) 2024 Andrea Goh. -->

{{ template "title" }}Landing{{ template "end_title"}}
<div class="container">
    <h1 style="color:#505c45;">Welcome to MATCHA</h1>
    <a href="http://localhost:8080/signup">
        <button class="btn1" type="button">Signup</button>
    </a>
    <a href="http://localhost:8080/login">
        <button class="btn2" type="submit">Login</button>
    </a>
</div>
{{template "footer"}}
